.app .image{ padding:30px; }
.app .image .top div{ float: right;width: 100px;height: 50px;padding-left: 16px; }
.app .image .top div .a1{ width: 25px;height: 25px;background-size: 25px 25px;background: url(arrows.png) no-repeat 0px 0px; display: inline-block;margin-right: 10px;}
.app .image .top div .a2{ width: 25px;height: 25px;background: url(arrows.png) no-repeat -25px 0px;display: inline-block; }

.app .image .top:after{display: block;content: "";clear: both;}
.app .image h2{ color: #ab4d63;font-size: 20px; display: inline-block;}
/* 轮播图 */
.app .image .bottom { width: 100%;height: 150px;overflow: hidden;position: relative; }
.app .image .bottom ul{width: 1200px;height: 130px;position: absolute;left:0;}
.app .image .bottom ul li{float: left;margin-right: 20px;cursor: pointer;}
.app .image .bottom ul li:last-child{margin-right: 0px;}