body{height: 2000px;}
.news{padding:30px;border-bottom: 1px solid red;}
.news .hr{border-top: 3px solid #454545;height: 4px;border-bottom: 1px solid #454545;margin: 36px 0;color: #4d4d4d;}
.news h2{color: #ab4d63;font-size: 20px;line-height: 24px;font-family: '微软雅黑';font-weight: bold;padding-bottom: 12px;}
.news .common{ font-size: 14px; line-height: 20px;}
.news .left{float: left;width: 590px;height: 110px;color: #4d4d4d;font-family: 'PTSansRegular';font-size: 12px;}
#app .inner .news .right{float: left;margin-left: 20px;
	list-style-image: url(bullet.png);
}
.news .bottom{height: 160px;}
.news .bottom li{float: left;width: 200px;height: 160px;margin-right: 30px;}
.news .bottom li img{margin-left: calc((100% - 48px)/2);}
.news .bottom li .p1{ text-align: center; font-size: 16px;line-height: 20px;color: #ab4d63;font-weight: bold;padding: 10px 0px;}
.news .bottom li .p2{font-size: 14px;color: #4d4d4d;line-height: 20px;text-align: center;}
.news .bottom li:last-child{margin-right: 0px;}